/* Font */

h1 {
  text-align: center;
  color: #FFCD06 ;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 300%;
  line-height: 0.5;
  padding-top: 10%
}

h2 {
  text-align: center;
  color: #FFCD06 ;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 150%;
}

p {
  text-align: center;
  color: #edd2a1;
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-size: 120%;
}


/* Formatting */
.content {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Image */
.img-container {
  max-width: 600px;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */
.topNav{
  flex-basis: 48%;
}

.navList{
  padding-top: 0.5em;
  padding-left: 20px;
  float: right;
  display: inline;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.navList a{
  text-decoration: none;
  color:#E2B8A8;
}

/* Button */
input {
  background-color: #e3e0da;
  color: #807e79;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

button {
  background-color: #FCC237;
  border: none;
  color: #934527;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
